## Task Ownership

Task Owner: {{ issue.task_owner }}

Report to: {{ issue.report_to }}

## What is the Task?
> - What are you doing? 
> - Why are you doing it? 
> - How do you know when you are done? 

{{ issue.task_content }}

## Delivery Specifics
> - What is expected to be delivered: <spreadsheet, guide, etc>
> - Where is it being delivered: <Where does it get delivered to?>
> - Due date is a component of this issue - _Please coordinate with the Report To person if the delivery date needs adjusted_.

{{ issue.delivery_specifics_content }}

## Reporting
> - When to report
>   - Once you believe the draft is ready for review.
>   - :exclamation: If you are stuck and not sure what the action is - reach out as soon as you can.
> - How to report
>   - Update this issue and post in the ~Infrastructure channel on Mattermost.
>   - Feedback and notes will captured in the issue so it is available to provide guidance or clarity.

{{ issue.reporting_content }}

## Details and background info

{{ issue.background_details_content }}

